/* GLOBAL AND MOBILE STYLES FIRST */

/*
  - this applies to any screen sizes under 500px
  - if you leave the width off, sections will automatically fill the full page width
  - no margins and little or no padding
*/

/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
body {
  background: #fff


/* Big tablets to 1200px, for widths smaller than the 1140px row that has been set
   in the other style sheet */
@media only screen and (max-width: 1200px){

  h1 { margin-top: 50px;
       margin-left: 20px;
     }

  .hero-text-box {
        width: 100%;
        padding: 0, 2%;

    }

    .plan-box{
        width: 85%;
        margin-left: 0%;
    }

    .btn:link,
    .btn:visited
    {
      margin-left: 25px;
    }

    .row { padding: 0 2%; }

}

/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px){

  body { font-size: 17px; }
  section { padding: 60px 0; }
  h1 { margin-left: 15px; }

  .btn:link,
  .btn:visited
  {
    margin-left: 25px;
  }

  .para {
      width: 80%;
      margin-left: 10%;
  }

  .btn-app  {
      float: right;

  }

  .plan-box{
      width: 100%;
      margin-left: 0%;
  }

  .plan-price{ font-size: 250%; }

  .contact-form{ width: 80%; }

  .footer-nav{ font-size: 95%; }

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px){
  body { font-size: 16px; }
  section { padding: 30px 0; }

  .row,
  .hero-text-box { padding: 0% 4%; }
  .col { width: 100%;
         margin: 0 0 4% 0;
        }

  .mobile-nav-icon { display: inline-block; }

    .main-nav { float: left; }

    .main-nav li {
        display: block;
    }



    .main-nav li a:link,
    .main-nav li a:visited{

        display: block;
        border: 0;
        hover: none;
        padding: 10px 0;
        font-size: 70%;
    }


  h1 {font-size: 180%; }
  h2 {font-size: 140%; }

  .app-screen {
      width: 30%;
  }

  .para {
      width: 100%;
      margin-left: 0%;
  }

  .btn-app{
      margin-top: 10px;
  }

  .testimonials{
      background-image: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)), url(images/vape-clouds.png);
      background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)), url(images/vape-clouds.jpg);
      color: #fff; /* White colored font so it can be seen clearly with the image*/
  }

  .works-step {
      color: #e67e22;
      border: 2px solid #e67e22;
      border-radius: 50%;
      height: 34px;
      width: 34px;
      text-align: center;
      font-size: 100%;
      padding: 4px;
      float: left;
      margin-right: 15px;
  }

  .fa-facebook-square,
  .fa-twitter-square,
  .fa-instagram {

          padding-top: 7px;

  }

}

  /* small phones: from 0 to 480px */
@media only screen and (max-width: 480px){

  h2 {font-size: 120%; }
  p {font-size: 90%; }
  .footer-nav{ font-size: 93%; }
  .testimonials{
      background-image: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)), url(images/vape-clouds.png);
      background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)), url(images/vape-clouds.jpg);
      margin-top: 315%;
      color: #fff; /* White colored font so it can be seen clearly with the image*/
  }

  .testimonials{
      margin-top: -300px;

  }

}
;
}  
section {
	display: inline-block;
	width: 44%;
}  
  /* 
    - applies to screens larger than 499px (unless specifically overwritten these styles will also apply to screens larger than 999px)
    - add any hover states here
    - increase font sizes
    - add margins and padding to space things out
    - decrease width of sections
    - add `display: inline-block;` so that sections will float next to each other
  */
}
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
body {
  background: #fff;
}  	
section {
	display: inline-block;
	width: 22%;
}
  /*
    - applies to screens larger than 999px only
    - add a max-width to your main section
    - further decrease size of sections
    - increase size of headings and global fonts
  */
}
/* END SECOND BREAKPOINT */