/* GLOBAL AND MOBILE STYLES FIRST */

/*
  - this applies to any screen sizes under 500px
  - if you leave the width off, sections will automatically fill the full page width
*/


/* ------------------------------------- */


/* 		      Heading   	        	  			 */


/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body  {
    background-color: #fff;
    font-family: 'Lato', 'Arial';
    font-weight: 300;
    text-rendering: optimizeLegibility; /*render fonts in a more perfect manner*/
    font-size: 20px;
    overflow-x: hidden;
	  scroll-behavior: smooth;
}

header {
    background-image: linear-gradient(rgba(2, 0, 2, 0), rgba(0, 2, 0, 0.1)), url(../images/shopview.jpg); /*represents a linear gradient of colours. Rgba specifies the opacity of the image */
    background-attachment: fixed; /* Keeps the image still from moving to give it a cool effect*/
    background-size: cover;
    height: 100vh;
	  opacity: 0.6;
}

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
	text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 250%;
    word-spacing: 4px;
    letter-spacing: 1px;
	  background-color: #ccc;
	  font-family: calibri, helvetica, sans-serif;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
	  margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    color: 000080;
}

.heading {
    color: 000;
	  background-color: 000;
}

h2:after {
    display: block;
    height: 2px;
    background-color: ##000080;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    content: " ";
}

.logo {
    width: 100px;
	  text-align: center;
}

a:link {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: #fff;
}

main {
	max-width: 800px;
	margin-left: 25%;
	max-width: 800px;
}

/* ------------------------------------- */


/* 		      Body   	        	  			 */


/* ------------------------------------- */

nav {
	text-align: center;
	position: fixed;
	top: 20em;
	width: 10%;
	background-color: #000;
	opacity: 0.6;
	color: #ddd;
  right: 0px;
}

nav ul {
	font-family: tahoma;
	text-align: center;
	list-style-type: none;
}

nav li {
	display: block;
	padding: 10px;
}

nav a:hover {
	display:block;
	text-decoration: none;
}

ul {
	text-decoration: none;
	list-style-type: none;
}

.hvr-icon-hang {
	margin-top: 30px;
	border-radius: 200px;
	background-color: #000080;
	color: #000;
	padding: 5px 20px;
}

#menu {
  padding: 2em;
  background: #000;   /*#menu is the hamburger icon */
  display: block;
}

.show-menu {
  display: block;
}

.list-menu {
	display: none;
}

main {
	max-width: 800px;
	margin-left: 25%;
	max-width: 800px;
}

.photo {
	width: auto;
    height: auto;
}

/* ------------------------------------- */


/* 		      Footer   	        	  	 */


/* ------------------------------------- */

footer{
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none; /* No underlining*/
    border: 0; /* Get's rid of the previous a links that have a border */
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
      font-size: 140%;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
      transition: color 1s;
}


.fa-facebook-square:hover{
    background: #3B5998;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: white;

}

.fa-twitter-square:hover{
    background: #55ACEE;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: white;
}

.fa-instagram:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
}
footer p {
    color: #ddd;
    text-align: center;
    margin-top: 20px;
}

/* Awesome Font Button Animation */

/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  transition-duration: 0.3s;
}
.hvr-icon-hang:before {
  content: "\f078";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-hang:hover:before, .hvr-icon-hang:focus:before, .hvr-icon-hang:active:before {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* END FIRST BREAKPOINT */

/* SECOND BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
header {
    background-image: linear-gradient(rgba(2, 0, 2, 0), rgba(0, 2, 0, 0.1)), url(../images/shopview.jpg); /*represents a linear gradient of colours. Rgba specifies the opacity of the text */
    background-attachment: fixed; /* Keeps the image still from moving to give it a cool effect*/
    background-size: cover;
    height: 100vh;
	opacity: 0.6;
}

nav {
	text-align: center;
	position: fixed;
	top: 20em;
	width: 10%;
	background-color: #000;
	opacity: 0.6;
	color: #ddd;
}

h1  {
    font-size: 2em;
}

main {
    width: 90%;
    margin: 0 auto;
  }

 body {
  background: #fff;
}

h2:after {
   display: block;
   height: 2px;
   background-color: #000080;
   width: 100px;
   margin: 0 auto;
   margin-top: 30px;
   content: " ";
}

#menu {
  padding: 2em;
  background: #000;   /*#menu is the hamburger icon */
  display: none;
}

.list-menu {
	display: block;
}

.show-menu {
  display: block;
}

}

/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {

/* ------------------------------------- */


/* 		      Heading   	        	  			 */


/* ------------------------------------- */

html,
body  {
    background-color: #fff;
    font-family: 'Lato', 'Arial';
    font-weight: 300;
    text-rendering: optimizeLegibility; /*render fonts in a more perfect manner*/
    font-size: 20px;
    overflow-x: hidden;
	  scroll-behavior: smooth;
}

header {
    background-image: linear-gradient(rgba(2, 0, 2, 0), rgba(0, 2, 0, 0.1)), url(../images/shopview.jpg); /*represents a linear gradient of colours. Rgba specifies the opacity of the image */
    background-attachment: fixed; /* Keeps the image still from moving to give it a cool effect*/
    background-size: cover;
    height: 100vh;
	  opacity: 0.6;
}

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
	  text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 250%;
    word-spacing: 4px;
    letter-spacing: 1px;
	  background-color: #ccc;
	  font-family: calibri, helvetica, sans-serif;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
	  margin-top: 10px;
    margin-bottom: 20px;
    color: #000080;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    color: #000080;
}

.heading {
    color: 000;
	  background-color: 000;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #000080;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    content: " ";
}

.logo {
    width: 100px;
	  text-align: center;
}

.intro {
  font-size: 16px;
}

/* ------------------------------------- */


/* 		      Body   	        	  			 */


/* ------------------------------------- */

nav {
	text-align: center;
	top: 9em;
	width: 10%;
	background-color: #000;
	opacity: 0.6;
	color: #ddd;
	background: #000;
	font-family: tahoma;
	position: fixed;
    right: 0px;
}

nav li {
	display: block;
	padding: 10px;
}

nav a:hover {
	display:block;
	text-decoration: none;
}

ul {
	text-decoration: none;
	list-style-type: none;
}

#nav-menu {
  background: #000;
  display: block;
}

#menu {
  padding: 2em;
  background: #000;   /*#menu is the hamburger icon */
  display: none;
}

.hide-menu {
  display: block;
}

.iconcolour {
  color: #000080;
}

/* ------------------------------------- */


/* 		      About Us Section 		  			 */


/* ------------------------------------- */
.box {
  width: 20%;
  margin-bottom: 20px;
  float: left;
  display: block;
  margin: 2% 0 2% 1.6%;
  padding: 1%;
  background-color: #F0F0F0;
  text-align: left;
  font-size: 18px;
  margin: 10px 1%;
  margin-left: 3%;
}

.hvr-icon-hang {
  left: 50px;
  margin-top: 100px;
  border-radius: 200px;
  background-color: #000080;
  color: #000;
  padding: 5px 20px;
  margin-bottom: 7px;
}

/* ------------------------------------- */


/* 		      Products Section 		  			 */


/* ------------------------------------- */

main {
	margin-left: 25%;
}

.photo {
	width: 10px;
	margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

.overlay {
	position: absolute;
	left: 41px;
	bottom: 10px;
	background-color: #000080;
	padding: 5px 10px;
	font-size: 14px;
	color: #fff;
	opacity: 0.8;
	font-family: tahoma;
}

.overlay:hover {
	background-color: #000;
	color: #fff;
}

.category_box {
	position: relative;
	width: 50%;
	min-height: 1px;
	margin-bottom: 20px;
}

.img {
  width: 300px;
  height: auto;
}

#construction {
  padding: 10px 20px;
  right: 230px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #e25263;
  left: 100px;
  text-align: center;
}


/* ------------------------------------- */


/* 		      Currently Trending		  		 */


/* ------------------------------------- */


.pro_message {
    padding: 10px 20px;
    right: 230px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #e25263;
    position: absolute;
    left: 40px;
}

.pricing {
  color: 000;
  text-align: center;
  line-height: 29px;
  font-size: 15px;
}

small {
  font-size: 85%;
  text-align: center;
}

.img1 {
  width: 300px;
  height: auto;
}

.quantity {
    width: 1%;
    display: inline;
    padding: 6px 10px 7px;
    margin-right: 10px;
}

.currentlytrending_box {
	position: relative;
	width: 50%;
	min-height: 1px;
  margin-left: 3%;
}

/* ------------------------------------- */


/* 		  Feedback Section 		  			 */


/* ------------------------------------- */


blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    background-color: #F0F0F0;
    font-size: 17px;
}

blockquote::before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    color: #000080;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.quote {
  width: 10px;
}

section {
  line-height: 30px;
}

.center {
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}

#map {
  height: 400px;
  width: 100%;
}

/* ------------------------------------- */


/* 		           Form   	        	  	 */


/* ------------------------------------- */

.btn-full:link, .btn-full:visited, input[type=submit] {
    background-color: #000080;
    border: 1px solid #000080;
    color: #fff;
    margin-right: 15px;
}

.btn:link, .btn:visited, input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    margin-bottom: 10px;
}

.btn-ghost:link, .btn-ghost:visited {
    border: 1px solid #000;
    color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #000;
}

.btn-full:hover,
.btn-full:active,
{
    border: 1px solid #fff;
}

.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.contact-form{
    width: 90%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
      width: 100%;
      padding: 7px;
      border-radius: 3px;
      border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;} /* This is so that the outline on each border in a field is not visible */

/* ------------------------------------- */


/* 		      Footer   	        	  	 */


/* ------------------------------------- */

footer{
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none; /* No underlining*/
    border: 0; /* Get's rid of the previous a links that have a border */
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
      font-size: 140%;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
      transition: color 1s;
}


.fa-facebook-square:hover{
    background: #3B5998;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: white;

}

.fa-twitter-square:hover{
    background: #55ACEE;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: white;
}

.fa-instagram:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
}
footer p {
    color: #ddd;
    text-align: center;
    margin-top: 20px;
}

.copyright {
  text-align: center;
}

/* Awesome Font Button Animation */

/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  transition-duration: 0.3s;
}
.hvr-icon-hang:before {
  content: "\f078";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-hang:hover:before, .hvr-icon-hang:focus:before, .hvr-icon-hang:active:before {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
}
/* END SECOND BREAKPOINT */
