/* GLOBAL AND MOBILE STYLES FIRST */


/*
- this applies to any screen sizes under 400px
*/


/* ------------------------------------- */


/* 		      Heading   	        	  		 */


/* ------------------------------------- */

* {
margin: 0;
padding: 0;
box-sizing: border-box; /*Resets the size of the entire page.*/
}

html,
body {
background-color: #fff;       /*This sets the background colour of the entire body in the webpage to be white and sets the font-family, font-size etc. This acts as a default if these settings have not been specified.*/
font-family: 'Lato', 'Arial';
font-weight: 300;
font-size: 15px;
overflow-x: hidden;           /*The CSS overflow property specifies whether to clip content or to add scrollbars when the content of an element is too big to fit in a specified area. */
scroll-behavior: smooth;      /*This is feature which sets the scrolling behaviour to be smooth i.e when navigating to different sections of a page, it will scroll in a smooth manner similar to an animation.*/
}

header {
background-color: #ddd;
}

h1,
h2,
h3 {
font-weight: 300;
text-transform: uppercase; /*This sets the text to have all uppercase letters.*/
text-align: center;
}

h1 {
margin-top: 10px;
margin-bottom: 20px;
color: #fff;
font-size: 100%;
word-spacing: 4px;
letter-spacing: 1px;
background-color: #ccc;
font-family: calibri, helvetica, sans-serif;
}

h2 {
font-size: 80%;
word-spacing: 2px;
text-align: center;
margin-bottom: 30px;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 20px;
}

h3 {
font-size: 110%;
margin-bottom: 15px;
color: #000080;
}

h2:after {
display: block;
height: 2px;
background-color: #000080;
width: 100px;
margin: 0 auto;
margin-top: 30px;
content: " ";
}

.logo {
width: 50px;
text-align: center;
}

a:link {
color: #fff;
text-decoration: none;
}

a:visited {
color: #fff;
}

#welcome {
background-color: #000080;
}


/* ------------------------------------- */


/* 		      Body   	        	  			 */


/* ------------------------------------- */

nav {
text-align: center;
top: 20em;
width: 10%;
background-color: #000;
opacity: 0.6;
color: #ddd;
left: 0px;
position: fixed; /*CSS for the nav menu and the position is fixed so the nav appears wherever the user scrolls to on the webpage. */
display: block;
}

nav ul {
text-align: center;
list-style-type: none;
display: none;
font-size: 10px;
}

nav li {
padding: 5px;
}

nav a:hover {
display: block;
text-decoration: none;
}

ul {
text-decoration: none;
list-style-type: none;
}

#menu {
padding: .1em;
background: #fff;
display: block;
}

#nav-menu {
background: #000;
min-width: 75px;
}

#navnav {
display: block;
}

.show-menu {
display: block;
}

main {
max-width: 800px;
margin-left: 21%;
}

.photo {
width: auto;
height: auto;
}

.slider-holder {
width: 200px;
height: 200px;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
bottom: 50px;
text-align: center;
overflow: hidden;
}

.image-holder {
width: 2400px;
height: 400px;
clear: both;
position: relative;
transition: left 2s;
}

.slider-image {
float: left;
margin: 0px;
padding: 0px;
position: relative;
width: 600px;
height: 200px;
animation: slide 30s infinite;
}

.button-holder {
position: relative;
top: 20px;
}

#slider-image-1:target~.image-holder {
left: 0px;
}

#slider-image-2:target~.image-holder {  /*The element being linked to is the target element. The :target selector can be used to style the current active target element. This defines where each picture needs to be placed. */
left: -800px;
}

#slider-image-3:target~.image-holder {
left: -1600px;
}

@keyframes slide {
0% {
left: 0px;
}
20% {
left: 0px;
}
25% {
left: -800px;
}
45% {
left: -800px;
}
50% {
left: -1600px;
}
70% {
left: -1600px;
}
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
background-color: #000080;
color: #fff;
margin-right: 15px;
margin-top: 10px;
}

.btn:link,
.btn:visited,
input[type=submit] {
display: inline-block;
padding: 2px 10px;
text-decoration: none;
border-radius: 200px;
margin-bottom: 10px;
}

.intro {
font-size: 10px;
line-height: 15px;
}

.glowing {
position: relative;
top: 50px;
left: 50%;
transform: translate(-50%, -50%); /*Repositions an element in the horizontal and/or vertical directions*/
display: flex; /*The flex property specifies the length of the item*/
list-style: none;
font-family: arial;
font-size: 1em;
letter-spacing: 5px;
color: #484848;
text-shadow: none;
animation: animate 1s infinite linear /*Specifies the 'animate' keyframe to glow forever every second. Linear specifies an animation with the same speed from start to end*/
}

@keyframes animate {
0% {
color: #484848;
text-shadow: none;
}
18% {
color: #484848;
text-shadow: none;
}
20% {
color: #fff900;
text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
}
30% {
color: #484848;
text-shadow: none;
}
35% {
color: #fff900;
text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
}
70% {
color: #484848;
text-shadow: none;
}
85% {
color: #fff900;
text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
}
90% {
color: #484848;
text-shadow: none;
}
100% {
color: #484848;
text-shadow: none;
}
}

.card {
display: none;
}


/* ------------------------------------- */


/* 		           SVG	  			           */


/* ------------------------------------- */

.svg {
display: inline-block;
height: 200px;
width: 200px;
line-height: 200px;
text-align: center;
border-radius: 50%;
margin-left: 1%;
margin-top: 60px;
}

#svg {
display: inline-block;
vertical-align: middle;
}


/* ------------------------------------- */


/* 		      About Us Section 		  			 */


/* ------------------------------------- */

.box {
width: 100%;
display: block;
margin: 2% 0 2% 1.6%;
padding: 1%;
background-color: #F0F0F0;
text-align: center;
margin: 10px 1%;
margin-left: 3%;
font-size: 10px;
color: #000080;
}

/* ------------------------------------- */


/* 		      Products Section 		  			 */


/* ------------------------------------- */

.photo {
margin-top: 1em;
margin-bottom: 1em;
margin-left: auto;
margin-right: auto;
}

.overlay {
position: relative;
left: 80px;
bottom: 20px;
background-color: #000080;
padding: 5px 5px;
font-size: 10px;
color: #fff;
opacity: 0.8;
font-family: tahoma;
}

.overlay:hover {
background-color: #000;
color: #fff;
}

.img3 {
width: 100px;
height: 100px;
border-radius: 50%;
vertical-align: center;
}

.img1 {
width: 100px;
height: 100px;
border-radius: 50%;
vertical-align: center;
}

.img2 {
width: 100px;
height: 100px;
}

.category_box {
position: relative;
width: 50%;
min-height: 1px;
margin-bottom: 20px;
}

#construction {
padding: 10px 20px;
right: 230px;
text-transform: uppercase;
line-height: 1;
color: #fff;
font-size: 10px;
letter-spacing: 1px;
background-color: red;
text-align: center;
}


/* ------------------------------------- */


/* 		      Currently Trending		  		 */


/* ------------------------------------- */

.pro_message {
padding: 5px 23px;
font-weight: 600;
text-transform: uppercase;
line-height: 1;
color: #fff;
font-size: 10px;
letter-spacing: 1px;
background-color: red;
position: absolute;
left: 15px;
color: #fff;
}

.currentlytrending_box {
position: relative;
width: 50%;
min-height: 1px;
text-align: center;
display: block;
margin-bottom: 20px;
}

.pricing {
color: #000;
text-align: center;
line-height: 29px;
font-size: 15px;
bottom: 10px;
}

small {
font-size: 85%;
text-align: center;
}

.quantity {
display: inline;
padding: 6px 10px 7px;
margin-right: 10px;
}

aside {
vertical-align: center;
margin-bottom: 50px;
}


/* ------------------------------------- */


/* 		  Feedback Section 		  			 */


/* ------------------------------------- */

.heart {
width: 50%;
height: 90px;
margin: 30px;
margin-left: 30%;
transform: scale(1.25); /*Scales the image by 1.25*/
animation: 1800ms pulsate alternate infinite ease-in-out; /*The heart will animate forever and will move in a certain direction every 1800 miliseconds.*/
}

.heart:before,
.heart:after {
position: absolute;
content: "";
left: 50px;
top: 0;
width: 50px;
height: 80px;
background: red;
border-radius: 50px 50px 0 0;
transform: rotate(-45deg);
transform-origin: 0 100%;
}

.heart:after {
left: 0;
transform: rotate(45deg);
transform-origin: 100% 100%;
}

@keyframes pulsate {
0% {
transform: scale(1);
}
50% {
transform: scale(1.3);
}
100% {
transform: scale(1);
}
}

blockquote {
padding: 2%;
line-height: 145%;
position: relative;
margin-top: 40px;
font-size: 10px;
color: #fff;
background-image: linear-gradient(rgba(2, 0, 2, 0), rgba(0, 2, 0, 0.1)), url(../images/testimonial.jpg); /*Represents a linear gradient of colours. Rgba specifies the opacity of the image */
background-attachment: fixed; /* Keeps the image still from moving to give it a cool effect*/
background-size: cover; /*Covers an entire section with a background*/
}

blockquote::before {
content: "\201C";
font-size: 500%;
display: block;
position: absolute;
top: -5px;
left: -5px;
color: #000080;
}

cite {
font-size: 90%;
margin-top: 25px;
display: block;
}

cite img {
height: 15px;
border-radius: 50%;
margin-right: 10px;
vertical-align: middle;
}

.img4 {
width: 50px;
height: 50px;
border-radius: 50%;
}

.quote {
width: 10px;
}

.center {
text-align: center;
line-height: 40px;
font-size: 10px;
}

#map {
height: 200px;
width: 100%;
}


/* ------------------------------------- */


/* 		   MISCELLANEOUS   	        	  	 */


/* ------------------------------------- */

.wikipedia li .txt {
width: 60%;
font-size: 10px;
text-align: center;
}

.wikipedia a:link {
  color: #000;
  font-size: 10px;
}

.wikipedia ul {
  list-style-type: none;
  display: table;
  width: 90%;
  border-spacing: 0 10px;
}

.wikipedia li {
  display: table-row;
}

.wikipedia li strong, li .txt, li .langs {
  display: table-cell;
  vertical-align: middle;
}

.wikipedia img {
  display: table-cell;
  padding-right: 10px;
}

.wikipedia li .txt {
  width: 60%;
  padding-right: 10px;
}

.wikipedia li:nth-child(even) {
  background: #eee;
}


/* ------------------------------------- */


/* 		      Footer   	        	  	 */


/* ------------------------------------- */

footer {
background-color: #333;
padding: 20px;
font-size: 50%;
}

.footer-nav {
list-style: none;
float: left;
text-align: center;
}

.social-links {
list-style: none;
text-align: center;
}

.footer-nav li,
.social-links li {
display: inline-block;
margin-right: 10px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
text-decoration: none; /* No underlining*/
border: 0; /* Get's rid of the previous a links that have a border */
color: #888;
transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
color: #ddd;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
transition: color 1s;
}

.fa-facebook-square:hover {
background: #3B5998;
box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
color: white;
}

.fa-twitter-square:hover {
background: #55ACEE;
box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
color: white;
}

.fa-instagram:hover {
background: #d6249f;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
color: white;
}

footer p {
color: #ddd;
text-align: center;
}

/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (MEDIUM SIZE) */

@media screen and (min-width: 650px) {

header {
background-image: linear-gradient(rgba(2, 0, 2, 0), rgba(0, 2, 0, 0.1)), url(../images/shopview1.png);
background-attachment: fixed;
background-size: cover;
height: 60vh;
}

#navnav {
display: none;
}

nav ul {
display: block;
font-size: 13px;
}

nav {
text-align: center;
position: fixed;
top: 17em;
width: 10%;
background-color: #000;
opacity: 0.6;
color: #ddd;
left: 0px;
}

#nav-menu {
background: #000;
min-width: 75px;
}

h1 {
font-size: 2em;
}

main {
width: 70%;
margin: 0 auto;
}

body {
background: #fff;
}

h2:after {
display: block;
height: 2px;
background-color: #000080;
width: 100px;
margin: 0 auto;
margin-top: 30px;
content: " ";
}

#welcome {
background-color: #000080;
}

#menu {
padding: 2em;
background: #000;
display: none;
}

#nav-menu {
background: #000;
min-width: 100px;
}

.list-menu {
display: block;
}

.show-menu {
display: block;
}

.slider-holder {
  width: 500px;
  height: 500px;
  text-align: center;
  overflow: hidden;
  padding-top: 150px;
}

.image-holder {
  width: 2400px;
  height: 400px;
  clear: both;
  position: relative;
  transition: left 2s;
}

.slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 800px;
  height: 400px;
}

.photo {
  margin-top: 1em;
  margin-bottom: 5em;
  margin-right: 1px;
}

.img {
width: 200px;
height: auto;
}

.img1 {
width: 200px;
height: 200px;
border-radius: 50%;
}

.img3 {
width: 200px;
height: 200px;
border-radius: 50%;
}

.img2 {
width: 200px;
height: 200px;
}

.overlay {
position: relative;
left: 120px;
bottom: 20px;
background-color: #000080;
padding: 5px 10px;
font-size: 10px;
color: #fff;
opacity: 0.8;
font-family: tahoma;
}

.pro_message {
padding: 10px 20px;
font-weight: 600;
text-transform: uppercase;
color: #fff;
font-size: 16px;
letter-spacing: 1px;
background-color: red;
position: absolute;
left: 30px;
color: #fff;
top: 13px;
}

aside {
float: left;
margin-bottom: 50px;
}

.glowing {
position: absolute;
top: 11%;
left: 53%;
transform: translate(-50%, -50%);
display: flex;
list-style: none;
font-family: arial;
font-size: 2em;
letter-spacing: 15px;
color: #484848;
text-shadow: none;
animation: animate 1s infinite linear
}

.svg {
display: inline-block;
height: 200px;
width: 200px;
line-height: 200px;
text-align: center;
background-color: #fff;
border-radius: 50%;
margin-left: 38%;
margin-top: 60px;
padding-top: 20px;
}

#svg {
display: inline-block;
vertical-align: middle;
}

.heart {
width: 100%;
height: 90px;
margin: 30px;
margin-left: 50%;
transform: scale(1.25);
animation: 1800ms pulsate alternate infinite ease-in-out;
}

.heart:before,
.heart:after {
position: absolute;
content: "";
left: 50px;
top: 0;
width: 50px;
height: 80px;
background: red;
border-radius: 50px 50px 0 0;
transform: rotate(-45deg);
transform-origin: 0 100%;
}

.heart:after {
left: 0;
transform: rotate(45deg);
transform-origin: 100% 100%;
}

blockquote {
padding: 2%;
line-height: 145%;
position: relative;
margin-top: 40px;
font-size: 10px;
color: #fff;
background-image: linear-gradient(rgba(2, 0, 2, 0), rgba(0, 2, 0, 0.1)), url(../images/testimonial.jpg); /*Represents a linear gradient of colours. Rgba specifies the opacity of the image */
background-attachment: fixed; /* Keeps the image still from moving to give it a cool effect*/
background-size: cover; /*Covers an entire section with a background*/
}

/* ------------------------------------- */
/* 		   MISCELLANEOUS   	        	  	 */
/* ------------------------------------- */

.wikipedia li .txt {
  width: 100%;
  font-size: 10px;
  text-align: center;
}

.wikipedia a:link {
  color: #000;
}

.wikipedia ul {
  list-style-type: none;
  display: table;
  width: 90%;
  border-spacing: 0 10px;
}

.wikipedia li {
  display: table-row;
}

.wikipedia li strong, li .txt, li .langs {
  display: table-cell;
  vertical-align: middle;
}

.wikipedia img {
  display: table-cell;
  padding-right: 10px;
}

.wikipedia li .txt {
  width: 60%;
  padding-right: 10px;
}

.wikipedia li:nth-child(even) {
  background: #eee;
}

.social-links {
list-style: none;
float: right;
}

}
/* END FIRST BREAKPOINT */

/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1050px) {

/* ------------------------------------- */
/* 		      Heading   	        	  			 */
/* ------------------------------------- */

html,
body {
  background-color: #fff;
  font-family: 'Lato', 'Arial';
  font-weight: 300;
  font-size: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  background-image: linear-gradient(rgba(2, 0, 2, 0), rgba(0, 2, 0, 0.1)), url(../images/shopview1.png);
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
}

#nav-menu {
  min-width: 135px;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 250%;
  word-spacing: 4px;
  letter-spacing: 1px;
  background-color: #ccc;
  font-family: calibri, helvetica, sans-serif;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #000080;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  color: #000080;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #000080;
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
  content: " ";
}

#welcome {
  background-color: #000080;
}

.logo {
  width: 100px;
  text-align: center;
}

.intro {
  font-size: 15px;
  line-height: 19px;
}

.intrologo {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  margin-top: 30%;
  left: 50%;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d; /*Specifies that child elements will preserve its 3D position*/
  transform: translate(-50%, -50%) perspective(2000px); /*Defines how many pixels a 3D element is placed from the view. This property allows you to change the perspective on how 3D elements are viewed.*/
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 100px rgba(0, 0, 0, .5); /*Sets the rgba for how dark the shadow should be*/
  transition: 1s; /*Sets the speed for flipping the card*/
  display: block;
}

.card:hover {
  transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg); /*Rotates the card when the mouse hovers over it -10 degrees to create the effect of opening a card*/
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
}

.card:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #000080;
  transform-origin: bottom; /*Sets the starting position to transform*/
  transform: skewX(-45deg); /*Skews the horizontal direction of the card before*/
}

.card:after {
  content: '';
  position: absolute;
  top: 0px;
  right: -5px;
  width: 5px;
  height: 100%;
  background: #000080;
  transform-origin: left;
  transform: skewY(-45deg); /*Skews the vertical direction of the card after it has been hovered onto*/
}

.card .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  transition: 1s cubic-bezier(.15, 1.7, .84, .58); /*When the card opens/closes it creates the effect of it bouncing*/
  z-index: 1; /*Specifies the stack order of an element.*/
}

.card:hover .imgBox {
  transform: rotateY(-135deg);
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  z-index: -1;
}

.slider-holder {
  width: 800px;
  height: 800px;
  text-align: center;
  overflow: hidden;
  padding-top: 150px;
}

.image-holder {
  width: 2400px;
  height: 400px;
  clear: both;
  position: relative;
  transition: left 2s;
}

.slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 800px;
  height: 400px;
}

.button-holder {
  position: relative;
  top: -20px;
}

#slider-image-1:target~.image-holder {
  left: 0px;
}

#slider-image-2:target~.image-holder {
  left: -800px;
}

#slider-image-3:target~.image-holder {
  left: -1600px;
}

/* ------------------------------------- */
/* 		      Body   	        	  			 */
/* ------------------------------------- */

nav {
  text-align: center;
  top: 7em;
  width: 10%;
  font-size: 20px;
  background-color: #000;
  opacity: 0.6;
  color: #ddd;
  background: #000;
  font-family: tahoma;
  position: fixed;
  right: 0px;
  display: block;
}

nav li {
  display: block;
  padding: 10px;
}

nav a:hover {
  display: block;
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.glowing {
  position: absolute;
  top: 10.9%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  list-style: none;
  font-family: arial;
  font-size: 4em;
  letter-spacing: 15px;
  color: #484848;
  text-shadow: none;
  animation: animate 1s infinite linear
}

#menu {
  padding: 2em;
  background: #000;
  display: none;
}

.hide-menu {
  display: block;
}

.iconcolour {
  color: #000080;
}

#get-name {
  background: white;
  padding: 0.5em;
}

/* css for search bar  */
#ease {
  width: 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.5s ease-in-out;
  margin-top: 10px;
}
#ease:focus {
  width: 50%;
}

input#ease {
    width: 100%;
}

/* ------------------------------------- */
/* 		           SVG	  			           */
/* ------------------------------------- */

.svg {
  display: inline-block;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 38%;
  margin-top: 60px;
  padding-top: 20px;
}

#svg {
  display: inline-block;
  vertical-align: middle;
}

/* ------------------------------------- */
/* 		      About Us Section 		  			 */
/* ------------------------------------- */

.box {
  width: 20%;
  float: left;
  display: block;
  margin: 2% 0 2% 1.6%;
  padding: 1%;
  background-color: #F0F0F0;
  text-align: left;
  font-size: 18px;
  margin: 10px 1%;
  margin-left: 3%;
}

/* Awesome Font Button Animation */

.hvr-icon-hang {
  left: 50px;
  margin-top: 100px;
  border-radius: 200px;
  background-color: #008;
  color: #000;
  padding: 5px 20px;
  margin-bottom: 1px;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  transition-duration: 0.3s;
}

.hvr-icon-hang:before {
  content: "\f078";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  transform: translateZ(0);
}
.hvr-icon-hang:hover:before,
.hvr-icon-hang:focus:before,
.hvr-icon-hang:active:before {
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-duration: .3s, 1.5s;
  animation-delay: 0s, .3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}

/* ------------------------------------- */
/* 		      Products Section 		  			 */
/* ------------------------------------- */

.photo {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 60px;
}

.overlay {
  position: absolute;
  left: 140px;
  bottom: 15px;
  background-color: #000080;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
  font-family: tahoma;
}

.overlay:hover {
  background-color: #000;
  color: #fff;
}

.img3 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.img1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.category_box {
  position: relative;
  width: 50%;
  min-height: 1px;
  margin-bottom: 20px;
}

#construction {
  padding: 10px 20px;
  right: 230px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: red;
  left: 100px;
  text-align: center;
}

/* ------------------------------------- */
/* 		      Currently Trending		  		 */
/* ------------------------------------- */

.pro_message {
  padding: 10px 20px;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: red;
  position: absolute;
  left: 90px;
  color: #fff;
  top: 20px;
}

.currentlytrending_box {
  position: relative;
  width: 50%;
  min-height: 1px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

aside {
  float: left;
  margin-bottom: 50px;
}

.pricing {
  color: #000;
  text-align: center;
  line-height: 29px;
  font-size: 15px;
  bottom: 10px;
}

small {
  font-size: 85%;
  text-align: center;
}

.quantity {
  display: inline;
  padding: 6px 10px 7px;
  margin-right: 10px;
  width: 10%;
}

/* ------------------------------------- */
/* 		  Feedback Section 		  			 */
/* ------------------------------------- */

.heart {
  width: 100%;
  height: 90px;
  margin: 30px;
  margin-left: 50%;
  transform: scale(1.25);
  animation: 1800ms pulsate alternate infinite ease-in-out;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

blockquote {
  padding: 2%;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
  font-size: 18px;
  color: #fff;
  background-image: linear-gradient(rgba(2, 0, 2, 0), rgba(0, 2, 0, 0.1)), url(../images/testimonial.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 28vh;
}

blockquote::before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  color: #000080;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.quote {
  width: 10px;
}

.center {
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}

#map {
  height: 400px;
  width: 100%;
}

/* ------------------------------------- */
/* 		   MISCELLANEOUS   	        	  	 */
/* ------------------------------------- */

li .txt {
  width: 60%;
  font-size: 16px;
  text-align: center;
}

.wikipedia a:link {
  color: #000;
}

.wikipedia ul {
  list-style-type: none;
  display: table;
  width: 90%;
  border-spacing: 0 10px;
}

.wikipedia li {
  display: table-row;
}

.wikipedia li strong, li .txt, li .langs {
  display: table-cell;
  vertical-align: middle;
}

.wikipedia img {
  display: table-cell;
  padding-right: 10px;
}

.wikipedia li .txt {
  width: 60%;
  padding-right: 10px;
}

.wikipedia li:nth-child(even) {
  background: #eee;
}

/* ------------------------------------- */
/* 		   PANDA ANIMATION 	        	  	 */
/* ------------------------------------- */

#road {
  border-bottom: 10px dashed black; /*Creates a dotted dash effect for a road*/
}
#runner {
  background-image: url(../images/spritesheet.png); /*A spritesheet background is used for this animation*/
  width: 250px;
  height: 350px;
  animation: walk 1s steps(6) infinite, forward 5s linear infinite; /*Each character in the spritesheet walks for one second and take 6 steps. This is done infinitely and walks forward for 5 seconds*/
}

/* ------------------------------------- */
/* 		           Form   	        	  	 */
/* ------------------------------------- */

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 200px;
  margin-bottom: 10px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #000;
  color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #000;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #000;
  color: #fff;
}

.btn:hover,
.btn:active,
input[type=clearStorage]:hover,
input[type=clearStorage]:active {
  background-color: #000;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

.contact-form {
  width: 90%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none; /* This is so that the outline on each border in a field is not visible */
}


/* ------------------------------------- */
/* 		      Footer   	        	  	 */
/* ------------------------------------- */

footer {
  background-color: #333;
  padding: 40px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 140%;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
  transition: color 1s;
}

.fa-facebook-square:hover {
  background: #3B5998;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
  color: white;
}

.fa-twitter-square:hover {
  background: #55ACEE;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
  color: white;
}

.fa-instagram:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
}

footer p {
  color: #ddd;
  text-align: center;
  margin-top: 20px;
}

.copyright {
  text-align: center;
  padding-top: 10px;
}
}

@keyframes hvr-icon-hang {
 0% {
   transform: translateY(6px);
 }
 50% {
   transform: translateY(2px);
 }
 100% {
   transform: translateY(6px);
 }
}

@keyframes hvr-icon-hang-sink {
 100% {
   transform: translateY(6px);
 }
}

@keyframes walk {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 3000px;
  }
}
@keyframes forward {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(1200px);
  }
}

/* END SECOND BREAKPOINT */
