/* ------------------------------------- */


/* Basic Setup for the pages 			 */


/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body  {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial';
    font-weight: 300;
    text-rendering: optimizeLegibility;
    /*render fonts in a more perfect manner */
    font-size: 20px;
    overflow-x: hidden;
	scroll-behavior: smooth;
}

section {
    padding: 80px 0;
}

header {

}

footer {
	color: #ccc;
	background-color: #808080;
}

main {
	max-width: 800px;
	margin-left: 25%;
	max-width: 800px;
}

h1 {
	background-color: #ccc;
	font-family: calibri, helvetica, sans-serif;
}

nav {
	text-align: center;
	position: fixed;
	top: 10em;
	width: 10%;
}

nav ul {
	font-family: tahoma;
	text-align: center;
	list-style-type: none;
}

nav li {
	display: block;
	padding: 10px;
}

nav a:hover {
	display:block;
	text-decoration: none;
} 

ul {
	text-decoration: none;
	list-style-type: none;	
}

a:link {
	color: #000;
	text-decoration: none;
}

a:hover {
	background-color: #000;
	color: #ccc;
	text-decoration: none;
}

a:visited {
	color:inherit;
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
        margin: 0;
	}
}

.width-of-two {
    width: 49.2%;
}

.width-two-of-two {
    width: 100%;
}

.width-of-four {
    width: 23.8%;
}

.width-two-of-three {
	width: 66.13%;
}

.width-of-three {
	width: 32.26%;
}

/* ------------------------------------- */

/* ------------------------------------- */


/*----Heading----*/


/* ------------------------------------- */

header {
    background-image: linear-gradient(rgba(1, 0, 1, 0), rgba(0, 1, 0, 1)), url(images/shopview.JPG); /*represents a linear gradient of colours. Rgba specifies the opacity of the text */
    background-attachment: fixed; /* Keeps the image still from moving to give it a cool effect*/
    background-size: cover;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    /* To fix the position */
}

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
	text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 250%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    content: " "
}

.heading {
    color: 000;
}

intro { 
    line-height: 10px;
	padding: 10px;
}

/* Awesome Font Button Animation */

/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  transition-duration: 0.3s;
}
.hvr-icon-hang:before {
  content: "\f078";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-hang:hover:before, .hvr-icon-hang:focus:before, .hvr-icon-hang:active:before {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
